p a#lien1{
    display:block; 
    padding: 30px 0px 10px 50px;
    background-color: darkseagreen;
}

h2{
    display:inline;
}

ul{
    display: inline-block;
    width: 150px;
    height:100px;
    background-color: lavender;
}

ul:hover{   
    display: none;
}
