ul#listeZero {
    list-style-type: none;
}

a {
    text-decoration-color: white;
    color: gray;
}

ul#listeUn {
    list-style-type: square;
}

ol#listeDeux {
    list-style-type: upper-roman;
}

ul#listeTrois {
    list-style-image: url(imgListStyle.png);
}

a:hover {
    background-color: blue;
    text-decoration-color: aquamarine;
    color: white;
}