p#pLiensHaut {
    display: block;
    left: 20%;
    position: absolute;
}

label#lblLiensHaut {
    position: absolute;
    display: inline;
    font-size: 2vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

label span#point {
    display: inline;
    font-size: 4vw;
    color: coral;
}

ul#listeLiensHaut {
    position: absolute;
    display: inline;
    left: 45%;
    list-style-type: none;
}

ul#listeLiensHaut li {
    display: inline;
    margin-left: 25px;
}

ul#listeLiensHaut li a {
    font-size: 1vw;
    background: white;
    color: black;
    text-decoration: none;
}

li a:hover {
    color: grey;
}

section#sectionTexteImageBouton {
    display: block;
    position: absolute;
    width: 90vw;
    height: 40vh;
}

img {
    position: absolute;
    margin-top: 10%;
    left: 5%;
    width: 100%;
    height: 100%;
}

section p#texteImg {
    font-size: 2vw;
    margin-top: 23vh;
    position: absolute;
    margin-left: 15%;
    width: 80%;
}

section p span#texteImg1 {
    text-align: center;
    display: block;
}

section p span#texteImg2 {
    text-align: center;
    display: block;
    font-weight: bold;
}

a#LienIci {
    position: absolute;
    background-color: darkorange;
    color: white;
    border: darkorange;
    margin-top: 3%;
    left: 42.5%;
    line-height: 4vh;
    height: 4vh;
    width: 10vw;
    font-size: 2vh;
    text-align: center;
    border-radius: 10vh;
}

nav#navLiensBas {
    position: absolute;
    display: block;
    width: 90vw;
    height: 25vh;
    top: 60%;
}

nav ul#groupeLiensBas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
}

div#planifier,
div#organiser,
div#voyager {
    display: inline;
}

img#img1 {
    margin-top: 20px;
    position: absolute;
    display: block;
    width: 10%;
    height: 10%;
    left: 20%;
    text-align: center;
}

img#img2 {
    margin-top: 20px;
    position: absolute;
    display: block;
    width: 10%;
    height: 10%;
    left: 45%;
}

img#img3 {
    margin-top: 20px;
    position: absolute;
    display: block;
    width: 10%;
    height: 10%;
    left: 70%;
}

a#lien1 {
    display: block;
    position: absolute;
    left: 10%;
    margin-top: 120px;
    width: 30%;
    text-align: center;
}

a#lien2 {
    display: block;
    width: 30%;
    position: absolute;
    left: 35%;
    margin-top: 120px;
    text-align: center;
}

a#lien3 {
    display: block;
    width: 30%;
    position: absolute;
    left: 60%;
    margin-top: 120px;
    text-align: center;
}

p#p1 {
    font-size: 1em;
    width: 20%;
    position: absolute;
    display: block;
    left: 15%;
    text-align: center;
    margin-top: 150px;
}

p#p2 {
    font-size: 1em;
    width: 20%;
    position: absolute;
    display: block;
    left: 40%;
    margin-top: 150px;
    text-align: center;
}

p#p3 {
    font-size: 1em;
    width: 20%;
    position: absolute;
    display: block;
    left: 65%;
    margin-top: 150px;
    text-align: center;
}